</div>
<div class="footer-padding">
    <div class="footer">
        <p>Made with ❤️ by <a target="_blank" href="https://bdjhala.tk/" style="color:#ffff; text-decoration:underline;">Bhanudatsinh Jhala</a></p>
    </div>
</div>
</body>

</html>